<span
    class="required"
    [class.active]="is_openStatusDropdown"
    [class.dark]="tultipDark"
    [class.telegram_check]="isTelegramCheck"
    ><span class="icon" (click)="clickOpenStatusDropdown()" #iconStatus>{{
        icon
    }}</span>

    <div class="dropdown" #dropdown>
        <span class="text">{{ dropdownText }}</span>
        <svg
            width="12"
            height="10"
            viewBox="0 0 12 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M4.33065 1.52997C5.12114 0.331955 6.87886 0.331955 7.66935 1.52997L10.8818 6.39851C11.7591 7.72823 10.8055 9.5 9.2124 9.5H2.7876C1.1945 9.5 0.240863 7.72823 1.11825 6.39851L4.33065 1.52997Z"
            />
        </svg>
    </div>
</span>
