@import "~src/assets/scss/variables";
@import "~src/assets/scss/mixins";

.modal {
    padding: 0 15px;

    @media only screen and (max-width: $tablet) {
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    &__content {
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 !important;

        @media only screen and (max-width: $tablet) {
            height: 100%;
            overflow: auto;
            border-radius: 0;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        flex: 1;

        &.password {
            width: 900px;

            @media only screen and (max-width: $tablet) {
                width: 100%;
            }

            .modal__body {
                padding: 23px 30px 28px;

                @media only screen and (max-width: $tablet) {
                    max-width: none;
                    padding: 33px 15px 84px;
                }

                .alert {
                    padding: 16px 30px 16px 16px;

                    @media only screen and (max-width: $tablet) {
                        padding: 12px 14px;
                    }

                    @media only screen and (max-width: $tiny) {
                        align-items: unset;
                    }

                    .icon-left {
                        margin-right: 3px;

                        @media only screen and (max-width: $tiny) {
                            display: block;
                            margin-top: 4px;
                            margin-right: 11px;
                        }
                    }
                }

                .form {
                    @media only screen and (max-width: $tablet) {
                        margin: 31px 0 0;
                    }

                    .form-group {
                        .input-title {
                            @media only screen and (max-width: $tablet) {
                                padding: 0px 9px;
                            }
                        }
                    }

                    .form-button {
                        @media only screen and (max-width: $tablet) {
                            margin-top: 29px;
                        }
                    }
                }
            }
        }

        &.security {
            width: 470px;

            @media only screen and (max-width: $tablet) {
                width: 100%;
            }

            .modal__body {
                padding: 27px 30px 28px;

                @media only screen and (max-width: $tablet) {
                    height: 100%;
                    max-width: none;
                    padding: 33px 15px 96px;
                }

                .alert {
                    padding: 12px 30px 12px 16px;

                    @media only screen and (max-width: $tablet) {
                        padding: 12px 14px;
                    }

                    @media only screen and (max-width: $tiny) {
                        align-items: unset;
                    }

                    .icon-left {
                        margin-right: 10px;

                        @media only screen and (max-width: $tiny) {
                            display: block;
                            margin-top: 4px;
                            margin-right: 11px;
                        }
                    }
                }

                .form {
                    @media only screen and (max-width: $tablet) {
                        height: 100%;
                        flex-direction: column;
                        justify-content: space-between;
                        margin: 31px 0 0;
                    }

                    .form-group {
                        margin-bottom: 13px;

                        @media only screen and (max-width: $tablet) {
                            padding: 0 9px;
                        }

                        .input-title {
                            @media only screen and (max-width: $tablet) {
                                padding: 0;
                            }
                        }

                        .input-sub-title {
                            margin-bottom: 9px;

                            @media only screen and (max-width: $tablet) {
                                margin-bottom: 19px;
                            }
                        }
                    }

                    .form-button {
                        @media only screen and (max-width: $tablet) {
                            margin-top: 29px;
                        }
                    }
                }
            }
        }

        &.successfull {
            width: 470px;

            @media only screen and (max-width: $tablet) {
                width: 100%;
            }

            .modal__body {
                padding: 24px 30px 28px;

                @media only screen and (max-width: $tablet) {
                    height: 100%;
                    max-width: none;
                    padding: 115px 15px 85px;
                    justify-content: space-between;
                    margin: 0;
                }

                .icon-check {
                    display: flex;
                    justify-content: center;
                }

                .btn-submit {
                    min-height: 50px;
                    width: 100%;
                }
            }
        }
    }

    &__head {
        padding: 24px 30px;
        border-bottom: 1px solid #f2f3f5;
        display: flex;
        align-items: center;
        position: relative;

        @media only screen and (max-width: $tablet) {
            padding: 28px 15px 28px 22px;
            justify-content: flex-start;
        }

        .title {
            font: 600 20px $font-family-primary;
            color: $color-font-1;
            padding-right: 20px;

            @media only screen and (max-width: $tablet) {
                padding-right: 0;
            }
        }

        &-btn {
            position: absolute;
            right: 30px;
            top: 27px;
            display: flex;

            @media only screen and (max-width: $tablet) {
                position: relative;
                left: 0;
                top: 0;
                margin-right: 22px;
            }

            .btn-close {
                position: relative;
                width: 18px;
                height: 18px;

                @media only screen and (max-width: $tablet) {
                    display: none;
                }

                &:hover {
                    &::after {
                        @media only screen and (min-width: $tablet) {
                            transform: rotate(-45deg);
                            background-color: #56c6ad;
                        }
                    }

                    &::before {
                        @media only screen and (min-width: $tablet) {
                            transform: rotate(45deg);
                            background-color: #56c6ad;
                        }
                    }
                }

                &::before,
                &::after {
                    content: "";
                    width: 2px;
                    height: 25px;
                    background-color: #b5bcc6;
                    position: absolute;
                    left: 9px;
                    top: -3px;
                    z-index: 1;
                    transform: rotate(-45deg);
                    border-radius: 10px;
                    transition: transform 0.3s linear,
                        background-color 0.3s linear;
                }

                &::after {
                    transform: rotate(45deg);
                }
            }

            .arrow-close {
                display: none;

                @media only screen and (max-width: $tablet) {
                    display: flex;
                }
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $tablet) {
            margin: 0 auto;
        }

        .alert {
            display: flex;
            align-items: center;
            background: #fff8dd;
            border: 1px solid #ffd89f;
            border-radius: 8px;
            font: 400 12px $font-family-primary;
            color: #1f2328;

            .icon-left {
                display: flex;
                margin-right: 10px;
                width: 30px;

                img {
                    min-width: 22px;
                }
            }
        }

        .form {
            display: flex;
            flex-wrap: wrap;
            margin: 30px -10px 0;

            @media only screen and (max-width: $tablet) {
                margin: 32px 0;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 32px;
                position: relative;
                width: 50%;
                padding: 0 10px;

                @media only screen and (max-width: $tablet) {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 20px;
                }

                &.mb-0 {
                    margin-bottom: 0;
                }

                &.w-100 {
                    width: 100%;
                }

                .code {
                    display: flex;
                    margin-top: 20px;
                    justify-content: space-between;

                    @media only screen and (max-width: $tiny) {
                        justify-content: space-between;
                        width: 100%;
                    }

                    input {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 50px;
                        background: #f5f8f9;
                        border: 1px solid #ebf0f1;
                        border-radius: 3px;
                        margin-right: 14px;
                        padding: 0;
                        cursor: pointer;
                        font: 400 22px $font-family-primary;
                        color: #000;
                        text-align: center;
                        caret-color: transparent;
                        transition: all 0.3s linear;

                        &:hover {
                            border-color: #a5b4c7;
                            background-color: #fcfdfd;
                        }

                        &:focus {
                            border-color: #a5b4c7;
                            background-color: #fcfdfd;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &:disabled {
                            pointer-events: none;
                        }

                        @media only screen and (max-width: $tiny) {
                            width: 42px;
                            height: 48px;
                            margin: 0;
                            font: 400 24px $font-family-primary;
                        }
                    }

                    &.error {
                        input {
                            border-color: #de7d84;
                            background-color: #fcfdfd;
                            color: #de7d84;

                            &:hover {
                                border-color: #de7d84;
                                color: #de7d84;
                            }
                        }
                    }
                }

                .errors {
                    margin-top: 16px;
                    display: none;
                    font: 400 12px $font-family-primary;
                    color: #de7d84;

                    &.show {
                        display: block;
                    }
                }

                .input-title {
                    display: flex;
                    align-items: center;
                    font: 400 14px $font-family-primary;
                    color: #1f2328;
                    margin-bottom: 10px;

                    &.mb-0 {
                        margin-bottom: 0;
                    }

                    .text {
                        margin-right: 12px;

                        @media only screen and (max-width: $small) {
                            margin-right: 9px;
                        }
                    }
                }

                .input-sub-title {
                    display: flex;
                    align-items: center;
                    font: 400 12px $font-family-primary;
                    color: #727a89;
                    margin-top: 3px;

                    .text {
                        margin-right: 12px;

                        @media only screen and (max-width: $small) {
                            margin-right: 9px;
                        }
                    }

                    @media only screen and (max-width: $small) {
                        margin-bottom: 18px;
                        padding: 0;
                    }
                }

                .input-label {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    position: relative;
                    overflow: hidden;

                    input {
                        box-shadow: none;
                        outline: none;
                        font: 400 16px $font-family-primary;
                        color: #000000;
                        padding: 14px 65px 14px 15px;
                        width: 100%;
                        height: 100%;
                        background: #f5f8f9;
                        border: 1px solid #f5f8f9;
                        border-radius: 10px;
                        transition: background-color 0.2s linear;
                        -webkit-appearance: none;
                        transition: background-color 0.3s linear,
                            border-color 0.3s linear;

                        @media only screen and (max-width: $small) {
                            padding: 14px 75px 14px 15px;
                        }

                        &:hover {
                            border-color: #a5b4c7;
                            background-color: #fcfdfd;
                        }

                        &:focus {
                            border-color: #a5b4c7;
                            background-color: #fcfdfd;
                        }

                        &:disabled {
                            background-color: rgba(16, 41, 41, 0.36);
                            border-color: #1a5d62;
                            cursor: default;
                            color: #365056;

                            &:hover {
                                background-color: rgba(16, 41, 41, 0.36);
                            }
                        }

                        &:-webkit-autofill {
                            -webkit-text-fill-color: #000000;
                            -webkit-box-shadow: 0 0 0px 1000px #fcfdfd inset !important;
                            transition: background-color 5000s ease-in-out 0s,
                                box-shadow 0.2s linear !important;

                            &~.placeholder {
                                color: transparent;
                            }
                        }

                        &:-webkit-autofill:hover,
                        :-webkit-autofill:focus {
                            -webkit-text-fill-color: #000000;
                            -webkit-box-shadow: 0 0 0px 1000px #fcfdfd inset !important;
                            transition: background-color 5000s ease-in-out 0s;

                            &~.placeholder {
                                color: transparent;
                            }
                        }

                        &.error {
                            border-color: #de7d84;
                            color: #de7d84;
                            background: rgba(245, 248, 249, 0.31);
                        }

                        &.password-hide {
                            font-family: Verdana;
                            letter-spacing: 8.7px;
                            font-size: 17px;
                            padding: 21px 65px 21px 16px;
                            color: #000000;

                            @media only screen and (max-width: $small) {
                                padding: 14px 75px 14px 15px;
                            }

                            &.error {
                                color: #DE7D84;
                            }

                            &:-webkit-autofill {
                                -webkit-text-fill-color: #000000;
                            }

                            &:-webkit-autofill:hover,
                            :-webkit-autofill:focus {
                                -webkit-text-fill-color: #000000;
                            }
                        }

                        &.medium {
                            font: 500 14px $font-family-primary;
                        }
                    }

                    .placeholder {
                        font: 400 14px $font-family-primary;
                        color: #a5b4c7;
                        letter-spacing: normal;
                        white-space: nowrap;
                        user-select: none;
                        cursor: text;
                        position: absolute;
                        left: 18px;
                        top: 17px;
                        z-index: 1;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        user-select: none;
                        pointer-events: none;

                        &.error {
                            color: #de7d84;
                        }
                    }

                    .icons {
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 50%;
                        right: 16px;
                        transform: translateY(-50%);
                        z-index: 1;

                        @media only screen and (max-width: $small) {
                            right: 14px;
                        }

                        &.error {
                            .btn-clear {
                                .btn-clear-img {
                                    fill: #de7d84;
                                }

                                &:hover {
                                    .btn-clear-img {
                                        fill: #de7d84;
                                    }
                                }
                            }

                            .btn-toggle {
                                &:hover {

                                    .hide,
                                    .show {
                                        fill: #de7d84;
                                    }
                                }

                                .hide {
                                    fill: #de7d84;
                                }

                                .show {
                                    fill: #de7d84;
                                }
                            }
                        }

                        .btn-clear {
                            display: flex;
                            cursor: pointer;

                            .btn-clear-img {
                                fill: #54657e;
                                transition: fill 0.2s linear;
                            }

                            &:hover {
                                .btn-clear-img {
                                    fill: #56c6ad;
                                }
                            }
                        }

                        .btn-toggle {
                            display: flex;
                            align-items: center;
                            width: 19px;
                            height: 24px;
                            margin-left: 6px;
                            cursor: pointer;

                            @media only screen and (max-width: $small) {
                                margin-left: 15px;
                            }

                            &:hover {

                                .hide,
                                .show {
                                    fill: #56c6ad;
                                }
                            }

                            .hide {
                                fill: #54657e;
                                transition: fill 0.2s linear;
                            }

                            .show {
                                fill: #54657e;
                                transition: fill 0.2s linear;
                            }
                        }
                    }
                }

                ::ng-deep {
                    .errors {
                        max-width: 426px;
                        font: 400 12px $font-family-primary;
                        color: #DE7D84;
                        margin-top: 6px;
                        line-height: 15px;
                    }
                }
            }

            .form-button {
                width: 50%;
                padding: 0 10px;
                margin-top: 27px;

                @media only screen and (max-width: $tablet) {
                    width: 100%;
                    padding: 0;
                }

                &.w-100 {
                    width: 100%;
                }

                .btn-submit {
                    @include btn-green();
                    width: 100%;
                    color: #fcfcfc;

                    @media only screen and (max-width: $small) {
                        height: 50px;
                    }
                }
            }
        }

        .icon-check {
            display: flex;
            justify-content: center;
            margin: 0 auto 40px;

            img {
                margin-right: 9px;
            }
        }

        .h4 {
            font: 500 16px $font-family-primary;
            color: #727a89;
            text-align: center;
            line-height: 23px;
            margin-bottom: 42px;
        }

        .btn-submit {
            @include btn-green;

            .hide {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        width: 100%;

        .btn-submit {
            @include btn-green;
            width: 410px;

            .hide {
                opacity: 0;
                visibility: hidden;
            }

            @media only screen and (max-width: $tablet) {
                width: 92%;
                min-height: 50px;
            }
        }
    }
}