<div
    *ngIf="shown"
    class="modal-window"
    id="modal-wrapper"
    [class.type_to]="typeTwo"
>
    <!--<div class="modal-window-close"  (click)="close(modalId)"></div>-->
    <div
        *ngIf="!playLeaveAnimation"
        id="modal-container"
        class="modal-window-container"
        [@modal]
        (@modal.done)="onAnimationEvent($event)"
    >
        <div class="modal-window-content">
            <ng-content></ng-content>
        </div>
    </div>
    <div
        *ngIf="shown"
        (click)="hardClose()"
        class="modal-window-background"
    ></div>
</div>
