@import "~src/assets/scss/mixins";
@import "~src/assets/scss/variables";

.stick-header-filter {
    display: none;
    @media only screen and (max-width: $tablet) {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        background: #061924;
        height: 52px;
        width: 100%;
        padding: 0 20px;
        top: 64px;
        z-index: 10;
    }

    .btn-filter {
        display: flex;
        align-items: center;
        font: 400 10px $font-family-primary;
        color: #fff;

        &.active {

        }

        .icon-left {
            display: flex;
            margin-right: 2px;
        }

        .privat-logo {
            display: flex;
        }
    }
}