@import "~src/assets/scss/variables";
@import "~src/assets/scss/mixins";

.loader {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    margin: 0 auto;
    width: 50px;
    opacity: 0;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    &.account {
        .circular {
            .path {
                animation: dash 1.5s ease-in-out infinite,
                    color-account 6s ease-in-out infinite;
            }
        }
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            animation: dash 1.5s ease-in-out infinite,
                color 6s ease-in-out infinite;
            stroke-linecap: round;
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }

            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35px;
            }

            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124px;
            }
        }

        @keyframes color {
            100%,
            0% {
                stroke: #36b8bc;
            }
        }

        @keyframes color-account {
            100%,
            0% {
                stroke: #70ecd0;
            }
        }
    }
}
